* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  /* body为白色，body外会自动填充白色，而不是整个页面都为body */
  /* border: 1px solid black; */
}
.rainbow {
  height: 200px;
  /* border: 1px solid black; */
  overflow: hidden;
  /* overflow: hidden;  margin不会合并 */
}
.rainbow div {
  overflow: hidden;
}
.rainbow > div {
  /* border: 1px solid red; */
  width: 400px;
  height: 400px;
  background: red;
  border-radius: 50%;
}
.rainbow > div > div {
  /* border: 1px solid hsl(60, 80%, 50%); */
  background: hsl(60, 80%, 50%);
  height: 380px;
  margin: 10px;
  border-radius: 50%;
}

.rainbow > div > div > div {
  /* border: 1px solid hsl(120, 80%, 50%); */
  background: hsl(120, 80%, 50%);
  height: 360px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div {
  /* border: 1px solid hsl(180, 80%, 50%); */
  background: hsl(180, 80%, 50%);
  height: 340px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div {
  /* border: 1px solid hsl(240, 80%, 50%); */
  background: hsl(240, 80%, 50%);
  height: 320px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div > div {
  /* border: 1px solid hsl(300, 80%, 50%); */
  background: hsl(300, 80%, 50%);
  height: 300px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div > div > div {
  /* border: 1px solid hsl(330, 80%, 50%); */
  background: hsl(330, 80%, 50%);
  height: 280px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div > div > div > div {
  /* border: 1px solid hsl(330, 80%, 100%); */
  background: hsl(330, 80%, 100%);
  height: 260px;
  margin: 10px;
  border-radius: 50%;
}
